@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #dce0e4;
}

/* navbar */
#btn-nav {
    background-color: orangered;
}

#btn-nav:hover {
    opacity: 0.7;
}

.nav-item a:hover {
    color: orangered;
    font-weight: bolder;
}

.nav-item .active {
    color: orangered !important;
}

/* body */
#bg-based {
    background-color: #dce0e4;
}

.form-login {
    width: 550px;
    padding: 20px;
}

#ttl {
    font-weight: bolder;
}

#btn-login {
    display: flex;
    justify-content: flex-end;
}

#btl {
    width: 100px;
    border-radius: 20px;
    background-color: #111727;
}

#btl:hover {
    background-color: orangered;

}