* {
    margin: 0;
}

.label-contact {
    font-size: 15; 
    font-weight: bold;
}

.input-contact {
    padding: 10px; 
    border-radius: 5px; 
    border-color: #d5d7d9;
    margin-bottom: 20px;
}

.btn-submit {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 20px;
    width: 20%;
    justify-content: flex-end;
}